# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore Vite cache
dist/
.vite/

# Mac system files
.DS_Store

# Ignore VS code settings
.vscode/

# Ignore log files
*.log
.github/instructions.md 
.github/instructions/daisyui.instructions.md